In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Data set linking

In [9]:
UTCI01 = pd.read_csv("https://raw.githubusercontent.com/iaac-macad/Studio_G04/Aly/Dataset%2001%20-%20Sheet1.csv")
UTCI01

,Generation 0,Generation 1,Generation 2,Generation 3,Generation 4,Generation 5,Generation 6,Generation 7,Generation 8,Generation 9
0,24.740000,24.780000,24.650000,24.910000,25.040000,24.690000,24.780000,24.780000,25.110000,24.77
1,25.060000,25.040000,25.350000,25.430000,25.460000,25.320000,25.240000,25.050000,25.490000,24.94
2,25.070000,24.650000,24.820000,24.930000,25.120000,24.840000,24.840000,24.570000,25.070000,24.53
3,25.050000,25.360000,25.350000,25.060000,25.500000,25.200000,25.310000,25.340000,25.460000,25.01
4,25.040000,24.590000,24.940000,25.000000,25.040000,24.910000,24.780000,24.600000,25.220000,24.64
5,25.180000,24.960000,25.290000,25.250000,25.420000,25.250000,25.280000,24.970000,25.530000,24.88
6,24.150000,24.120000,24.130000,24.270000,24.320000,24.160000,24.180000,24.180000,24.290000,24.12
7,25.160000,24.930000,25.330000,25.470000,25.750000,25.410000,25.150000,24.930000,25.850000,24.88
8,24.320000,24.300000,24.230000,24.270000,24.420000,24.270000,24.370000,24.280000,24.380000,24.23
9,25.170000,25.510000,25.360000,25.410000,25.710000,25.550000,25.560000,25.510000,25.680000,24.88
10,24.320000,24.290000,24.300000,24.250000,24.430000,24.360000,24.260000,24.240000,24.430000,24.17
11,25.070000,24.910000,25.340000,25.170000,25.790000,25.310000,25.490000,24.890000,25.810000,24.93
12,24.090000,24.040000,24.090000,24.070000,24.130000,24.090000,24.110000,24.010000,24.090000,23.99
13,24.880000,24.870000,24.960000,24.990000,24.910000,24.840000,24.940000,24.950000,25.020000,24.82
14,24.210000,24.150000,24.170000,24.120000,24.180000,24.140000,24.180000,24.210000,24.180000,24.07
15,25.000000,24.960000,24.930000,24.990000,24.970000,24.940000,24.970000,24.930000,25.000000,24.92
16,24.140000,24.130000,24.140000,24.140000,24.190000,24.160000,24.190000,24.150000,24.210000,24.07
17,24.950000,24.820000,24.960000,24.890000,24.950000,24.900000,24.900000,24.900000,24.960000,24.87
18,24.020000,24.000000,24.020000,24.020000,24.050000,24.010000,24.020000,24.000000,24.060000,23.97
19,24.030000,24.050000,24.040000,24.040000,24.070000,24.020000,24.040000,24.010000,24.080000,23.98
20,24.070000,24.030000,24.070000,24.050000,24.100000,24.070000,24.070000,24.050000,24.110000,24.03
21,24.030000,24.030000,24.070000,24.080000,24.100000,24.050000,24.050000,24.040000,24.100000,24.00
22,24.060000,24.040000,24.070000,24.070000,24.100000,24.080000,24.070000,24.030000,24.080000,23.98
23,24.040000,24.010000,24.050000,24.060000,24.070000,24.040000,24.060000,24.020000,24.100000,24.00
24,23.990000,23.980000,24.000000,23.990000,24.030000,23.990000,23.990000,23.980000,24.010000,23.95
25,24.000000,23.990000,24.030000,24.010000,24.020000,24.020000,23.990000,23.980000,24.040000,23.96
26,24.010000,23.990000,24.020000,24.030000,24.050000,24.010000,24.020000,23.990000,24.040000,23.97
27,24.010000,24.000000,24.010000,24.030000,24.060000,24.030000,24.010000,23.990000,24.050000,23.97
28,24.010000,24.020000,23.990000,24.010000,24.050000,24.000000,24.020000,24.020000,24.040000,23.97
29,24.020000,24.000000,24.010000,24.030000,24.030000,24.030000,23.990000,23.970000,24.020000,23.96
30,23.970000,23.970000,23.980000,23.980000,23.990000,23.980000,23.980000,23.970000,24.000000,23.95
31,23.990000,23.970000,23.990000,23.990000,24.010000,23.990000,23.980000,23.980000,24.010000,23.94
32,23.980000,23.980000,23.990000,23.990000,24.020000,23.990000,23.990000,23.980000,24.020000,23.95
33,23.990000,23.980000,24.000000,24.000000,24.020000,23.990000,23.990000,23.990000,24.020000,23.95
34,23.980000,23.980000,23.990000,23.990000,24.020000,23.990000,23.990000,23.980000,24.020000,23.96
35,23.980000,23.980000,23.990000,23.990000,24.010000,23.990000,23.990000,23.980000,24.010000,23.95
36,-16.138375,-48.004789,20.914046,49.157807,41.797405,20.914046,5.392288,-48.004789,41.797405,0.00

In [10]:
#inspect data
UTCI01.info()
print(UTCI01)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Generation 0  37 non-null     float64
 1   Generation 1  37 non-null     float64
 2   Generation 2  37 non-null     float64
 3   Generation 3  37 non-null     float64
 4   Generation 4  37 non-null     float64
 5   Generation 5  37 non-null     float64
 6   Generation 6  37 non-null     float64
 7   Generation 7  37 non-null     float64
 8   Generation 8  37 non-null     float64
 9   Generation 9  37 non-null     float64
dtypes: float64(10)
memory usage: 3.0 KB
    Generation 0  Generation 1  Generation 2  Generation 3  Generation 4  \
0      24.740000     24.780000     24.650000     24.910000     25.040000
1      25.060000     25.040000     25.350000     25.430000     25.460000
2      25.070000     24.650000     24.820000     24.930000     25.120000
3      25.050000     25.360000     25.350000     25.060000     25.500000
4      25.040000     24.590000     24.940000     25.000000     25.040000
5      25.180000     24.960000     25.290000     25.250000     25.420000
6      24.150000     24.120000     24.130000     24.270000     24.320000
7      25.160000     24.930000     25.330000     25.470000     25.750000
8      24.320000     24.300000     24.230000     24.270000     24.420000
9      25.170000     25.510000     25.360000     25.410000     25.710000
10     24.320000     24.290000     24.300000     24.250000     24.430000
11     25.070000     24.910000     25.340000     25.170000     25.790000
12     24.090000     24.040000     24.090000     24.070000     24.130000
13     24.880000     24.870000     24.960000     24.990000     24.910000
14     24.210000     24.150000     24.170000     24.120000     24.180000
15     25.000000     24.960000     24.930000     24.990000     24.970000
16     24.140000     24.130000     24.140000     24.140000     24.190000
17     24.950000     24.820000     24.960000     24.890000     24.950000
18     24.020000     24.000000     24.020000     24.020000     24.050000
19     24.030000     24.050000     24.040000     24.040000     24.070000
20     24.070000     24.030000     24.070000     24.050000     24.100000
21     24.030000     24.030000     24.070000     24.080000     24.100000
22     24.060000     24.040000     24.070000     24.070000     24.100000
23     24.040000     24.010000     24.050000     24.060000     24.070000
24     23.990000     23.980000     24.000000     23.990000     24.030000
25     24.000000     23.990000     24.030000     24.010000     24.020000
26     24.010000     23.990000     24.020000     24.030000     24.050000
27     24.010000     24.000000     24.010000     24.030000     24.060000
28     24.010000     24.020000     23.990000     24.010000     24.050000
29     24.020000     24.000000     24.010000     24.030000     24.030000
30     23.970000     23.970000     23.980000     23.980000     23.990000
31     23.990000     23.970000     23.990000     23.990000     24.010000
32     23.980000     23.980000     23.990000     23.990000     24.020000
33     23.990000     23.980000     24.000000     24.000000     24.020000
34     23.980000     23.980000     23.990000     23.990000     24.020000
35     23.980000     23.980000     23.990000     23.990000     24.010000
36    -16.138375    -48.004789     20.914046     49.157807     41.797405

    Generation 5  Generation 6  Generation 7  Generation 8  Generation 9
0      24.690000     24.780000     24.780000     25.110000         24.77
1      25.320000     25.240000     25.050000     25.490000         24.94
2      24.840000     24.840000     24.570000     25.070000         24.53
3      25.200000     25.310000     25.340000     25.460000         25.01
4      24.910000     24.780000     24.600000     25.220000         24.64
5      25.250000     25.280000     24.970000     25.530000         24.88
6      24.160000     24.180000     24.180000     24.290000         24.12
7      25.410000     25.150000     24.930000     25.850000         24.88
8      24.270000     24.370000     24.280000     24.380000         24.23
9      25.550000     25.560000     25.510000     25.680000         24.88
10     24.360000     24.260000     24.240000     24.430000         24.17
11     25.310000     25.490000     24.890000     25.810000         24.93
12     24.090000     24.110000     24.010000     24.090000         23.99
13     24.840000     24.940000     24.950000     25.020000         24.82
14     24.140000     24.180000     24.210000     24.180000         24.07
15     24.940000     24.970000     24.930000     25.000000         24.92
16     24.160000     24.190000     24.150000     24.210000         24.07
17     24.900000     24.900000     24.900000     24.960000         24.87
18     24.010000     24.020000     24.000000     24.060000         23.97
19     24.020000     24.040000     24.010000     24.080000         23.98
20     24.070000     24.070000     24.050000     24.110000         24.03
21     24.050000     24.050000     24.040000     24.100000         24.00
22     24.080000     24.070000     24.030000     24.080000         23.98
23     24.040000     24.060000     24.020000     24.100000         24.00
24     23.990000     23.990000     23.980000     24.010000         23.95
25     24.020000     23.990000     23.980000     24.040000         23.96
26     24.010000     24.020000     23.990000     24.040000         23.97
27     24.030000     24.010000     23.990000     24.050000         23.97
28     24.000000     24.020000     24.020000     24.040000         23.97
29     24.030000     23.990000     23.970000     24.020000         23.96
30     23.980000     23.980000     23.970000     24.000000         23.95
31     23.990000     23.980000     23.980000     24.010000         23.94
32     23.990000     23.990000     23.980000     24.020000         23.95
33     23.990000     23.990000     23.990000     24.020000         23.95
34     23.990000     23.990000     23.980000     24.020000         23.96
35     23.990000     23.990000     23.980000     24.010000         23.95
36     20.914046      5.392288    -48.004789     41.797405          0.00